body {
margin : 0;
padding : 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color : #555;
background : #eef6fb;
line-height : 1.5em;
text-align: center;
}
#container {
width : 750px;
margin-left : auto;
margin-right : auto;
padding : 0;
border : 5px solid #fff;
}
#navlist {
padding : 3px 0;
margin : 0;
text-align : left;
font : bold 110% "Trebuchet MS", verdana, sans-serif;
color : #000;
background : #99c6e7;
}
#navlist li {
list-style : none;
margin : 0;
display : inline;
}
#navlist li a {
padding : 3px 1.5em;
margin : 0;
color : #333;
background : #99c6e7;
text-decoration : none;
}
#navlist li a:link, #navlist li a:visited {
color : #333;
background : #99c6e7;
}
#navlist li a:hover {
color : #fff;
background : #6ba0e6;
}
#navlist li a#current {
color : #fff;
background : #6ba0e6;
}
#banner {
width : 750px;
height : 150px;
padding : 0;
margin : 0;
color : #fff;
background : #738ca5;
}
#banner h1 {
margin : 0;
padding : 20px;
font : normal 175% "Trebuchet MS", tahoma, verdana, sans-serif;
letter-spacing : 5px;
text-transform : none;
border-bottom : none;
color : #000;
background : transparent;
}
#content {
padding : 5px;
margin-left : 220px;
margin-bottom : 5px;
color : #555;
background : #eef6fb;
}
#sidebar-a {
float : left;
width : 180px;
margin : 0 10px 10px 10px;
padding : 5px;
border-right : 1px solid #fff;
color : #555;
background : #eef6fb;
}
#footer {
clear : both;
padding : 5px;
margin : 0;
text-align : left;
border-top : 10px solid #6ca3e4;
color : #333;
background : #99c6e7;
}
.roundcont {
margin : 10px;
width : 95%;
background : #f7fbfd;
color : #333;
}
.roundcont p {
margin : 0 15px;
}


img.corner {
width : 10px;
height : 10px;
border : none;
display : block !important;
}
p {
padding : 3px 10px 10px 5px;
}
h1 {
margin : 10px 0 10px 10px;
padding : 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform : uppercase;
color : #738ca5;
background : inherit;
}
h2 {
margin : 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
padding : 0;
border-bottom : 0 solid #738ca5;
text-transform : none;
color : #738ca5;
background : inherit;
}
a {
text-decoration : none;
color : #666;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #66a0e0;
background : inherit;
}
a img {
border : 0;
}

.img {
float : left;
padding : 5px;
margin : 10px;
border : 1px solid #556b2f;
}

blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}

button{background-color: darkgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

iframe{
    border: none;
    color:#738ca5;
}

modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

label {
    margin : 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding : 0;
    border-bottom : 0 solid #738ca5;
    text-transform : none;
    color : #738ca5;
    background : inherit;
}

legend {
    margin : 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding : 0;
    border-bottom : 0 solid #738ca5;
    text-transform : none;
    color : #738ca5;
    background : inherit;}

label {
    float: left
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}

input, select, label, h4 {
    display: inline-block!important;
}


#parent {
    overflow: hidden;
    border: 1px solid red
}
.right {
    float: right;
    width: 100px;
    height: 100px;
    background: #888;
}
.left {
    overflow: hidden;
    height: 100px;
    background: #ccc
}